@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>B1</p>
<p>B1 from remote</p>
<p>B1 from remote1</p>
<p>B1 from remote1111</p>
<p>B1 from remote111122</p>