@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>New Change</p>
<p>New Change in Branch0</p>
<p>New Change in Branch1</p>
<p>New Change in Branch2</p>
<p>New Change in Branch3</p>
<p>New Change in Branch4</p>
<p>New Change in Branch5</p>
<p>New Change in Branch6</p>